.prose {

}


.prose :where(p):not(:where([class~=not-prose] *)) {
    margin-bottom: 1.25em;
    margin-top: 1.25em;
}

.prose :where(.prose>:first-child):not(:where([class~=not-prose] *)) {
    margin-top: 0;
}

.prose :where(.prose>:last-child):not(:where([class~=not-prose] *)) {
    margin-bottom: 0;
}
